{% extends 'base.html' %}

{% block title %} DOM  {% endblock title %}

{% block content %}
  <div class='header'>
    <div class='info_user'>
       {% include "home/profile.html" %}
       <div class='menu_profile'>
         <p>
           Możesz utworzyć bazę danych poczty lub utworzyć notatki
          </p>
         <a href="{% url 'mydatabase:mydb_index' %}">adresy pocztowe</a>
         <a href="{% url 'notes:index' %}">notatki</a>
       </div>
      <a class='index_btn_logout' href="{% url 'home:logout' %}"> przestań </a>
    </div>
  </div>
{% endblock %}
